In [1]:
import pandas as pd

In [2]:
assignment_details = pd.read_csv('assignment_results.csv', sep=",")

In [3]:
assignment_details.loc[assignment_details['Matrikelnummer'].isin([229750, 234907, 235192])]

    Matrikelnummer Ass01 Ass02 Ass03 Ass04 Ass05      Ass06
22          229750  pass  pass  pass  pass  pass  submitted
35          234907  pass  pass  pass  pass  pass  submitted
39          235192  pass  pass  pass  pass  pass  submitted