In [8]:
import pandas as pd

In [9]:
assignment_details = pd.read_csv('assignment_results_Ass02.csv', sep=",")

In [10]:
assignment_details.loc[assignment_details['Matrikelnummer'].isin([229750, 234907, 235192])]

    Matrikelnummer Ass01      Ass02
22          229750  pass  submitted
35          234907  pass  submitted
39          235192  pass  submitted